name: Tests

# Defines environmental variables
env:
  GO_VERSION: '1.25.3'

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    # The type of runner that the job will run on
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
    
  
    # Setup Go
    - name: Setup Go
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
      with:
        go-version: "${{ env.GO_VERSION }}" 
    - name: Go fmt
      run: go fmt ./...
    - name: Build and Run
      run: |
        go build -o pt-tools main.go
    - name: Test
      run: go test ./...
