name: Tests

# Defines environmental variables
env:
  GO_VERSION: '1.25.3'

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    # The type of runner that the job will run on
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    
  
    # Setup Go
    - name: Setup Go
      uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
      with:
        go-version: "${{ env.GO_VERSION }}" 
    - name: Go fmt
      run: go fmt ./...
    - name: Build and Run
      run: |
        go build -o pt-tools main.go
    - name: Test
      run: go test ./...
