name: Tests

# Defines environmental variables
env:
  GO_VERSION: '1.25.3'

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    # The type of runner that the job will run on
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    
  
    # Setup Go
    - name: Setup Go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version: "${{ env.GO_VERSION }}" 
    - name: Go fmt
      run: go fmt ./...
    - name: Build and Run
      run: |
        go build -o pt-tools main.go
    - name: Test
      run: go test ./...
